/* index.html */
.jumbotron {
    background-color: #d4cec3!important;
    color: rgba(0, 0, 0, 0.813);
    font-family: 'Alkatra';
    height: 60vh;
}
.jumbotron hr {
    border-top: 1px solid;
    width: 1000px;
}
.jumbotron a {
    font-family: 'Alkatra';
}
.jumbotron button {
    width: 200px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.813);
    color: white;
    border-radius: 5px;
}
.jumbotron button:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.813);
    opacity: 0.6;
    transition: 0.3s;
}
h1, a, p {
    font-family: 'Alkatra';
}
.container {
    height: 100px;
    display: flex;
    justify-content: center;
}
/* index.html */

/* about.html */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
/* about.html */